<!DOCTYPE HTML>
<hmtl>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/about.css">
  </head>
  <body>
    {% include "nav.html" %}
    <div id="container">
      <div id="eboardInfo">
        <h1> Who? </h1>
        <h2>President: <span class="red">Bryant Lin</span></h2>
        <p>
          Junior Marketing Major... likes trains
        </p>
        <h2>Vice Precident: <span class="red">Abby Pollack</span></h2>
        <p>
          Junior Animatioin Major... likes sad mecha anime
        </p>
        <h2>Treasurer: <span class="red">Tim Herrmann</span></h2>
        <p>
          Sophomore: Computer Science & Animation Major... Likes the food
        </p>
        <h2>Secretary: <span class="red">Emilia Huerta</span></h2>
        <p>
          Sophomore Applied Information Management Systems Major... Likes cosplaying cats
        </p>
        <h2>External Chair: <span class="red">Leonardo Garcia</span></h2>
        <p>
          Sophomore Health and Human Sciences Major... Likes guitar
        </p>
        <h2>Social Chair: <span class="red">Luis Garcia</span></h2>
        <p>
          Sophomore Computer Science Major... Likes web development
        </p>
      </div>
      <div id="clubInfo">
        <h1> What? </h1>
        <p>
         Kyoudai is the Japanese Culture Club of LMU. We are committed to
         appreciating and celebrating the various aspects and diversity of
         Japanses culture.
        </p>
        <h1>Why?</h1>
        <p>
          We gather to share our interest in Japanese culture, an through
          organized discussion and collaboration become more educated. Also we
          want friends in the 3d world. :b
        </p>
        <h1>When?</h1>
        <p class="red">
          Every other Thursday @ 10:00 p.m. in St. Rob's 369!!!
        </p>
      </div>
    </div>
    {%include "footer.html"%}
  </body>
</html>
