<!DOCTYPE HTML>
<hmtl>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/contact.css">
  </head>
  <body>
    {% include "nav.html" %}
    <div id="container">
      <label for="email" class="heading">Email:</label> <span id="email" class="red">lmu.kyodai.gmail.com</span>

      <p>
        To receive text messages with information about our upcoming events
        text @lmukyodai to the number 81010.
      </p>

      <h1>Social Media</h1>
      <ul class="socialLinks">
        <li>
           <h2><a class="socialLinks" href="https://www.facebook.com/groups/2200976573/"> Facebook </a></h2>
        </li>
        <li>
           <h2><a class="socialLinks" href="https://www.instagram.com/lmu.kyodai/?hl=en"> Instagram </a><h2>
        </li>
        <li>
           <h2><a class="socialLinks" href="https://discord.gg/42EHBb"> Discord </a><h2>
        </li>
        <li>
           <h2><a class="socialLinks" href="https://orgsync.com/125274/chapter"> OrgSync </a><h2>
        </li>
      </ul>
    </div>
    {%include "footer.html"%}
  </body>
</html>
