@media screen and (min-width: 769px){
  #clubInfo, #eboardInfo {
    display: inline-block;
    width:40%;
    text-align: left;
    vertical-align:top;
  }
  #eboardInfo {
    padding-right:5%;
    border-right: 3pt solid red;
  }
  #clubInfo {
    padding-left: 5%;
  }

  #container {
    text-align: right;
  }
}
