#container {
  margin:5%;
  text-align: center;
}
.socialLinks {
  text-align: center;
  margin:0 auto;
  padding-left:0;
}
.socialLinks li{
  margin:0 auto;
  width:50%;
  border-bottom: 2pt solid red;
}
.socialLinks li:hover {
  width:70%;
}
@media screen and (min-width: 769px){

}
